<div mat-dialog-content>
  <mat-form-field class="dialog-delete-field" appearance="fill" *ngIf="action === 'Create'">
    <mat-label>Board name</mat-label>
    <input matInput [(ngModel)]="localData.createBoard">
  </mat-form-field>
  <ng-template *ngIf="action === 'Delete'">
    Are you sure you want to delete the board?
  </ng-template>
  <mat-form-field class="dialog-delete-field" appearance="fill" *ngIf="action === 'Edit'">
    <mat-label>Board name</mat-label>
    <input matInput [(ngModel)]="localData.editBoard">
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>