.welcome-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

.info {
  width: 50%;
}

.title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 30px;
}

.app-info {
  font-size: 20px;
}

.about-text {
  font-size: 20px;
  text-align: center;
}

.opportunities-list {
  display: flex;
  flex-direction: column;
}

.opportunities-item {
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
}

mat-icon {
  font-weight: bold;
  color: green;
}