<div class="container welcome-container">
  <div class="info">
    <h1 class="title">Project management app</h1>
    <p class="app-info">Приложение, которое поможет командам эффективно решать рабочие задачи. Оно поможет организовать
      работу так, чтобы все знали, чем нужно заниматься. Отслеживайте прогресс выполнения задач, будте в курсе
      происходящего. Правильно планируйте сроки и объем работы</p>
    <!--     <p class="app-info">Оно поможет организовать работу так, чтобы все знали, чем нужно заниматься.</p>
    <p class="app-info">Отслеживайте прогресс выполнения задач, будте в курсе происходящего. Правильно планируйте сроки и объем работы</p> -->
    <p class="app-info">Достигайте ваши цели!</p>
  </div>
  <div>

    <div class="welcome-img">
      <img src="assets/welcome.gif" alt="welcome">
    </div>

  </div>

</div>
