.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}

.info {
  width: 50%;
  padding: 0 10px;
}

.title {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: bold;
  line-height: 50px;
}

.subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.app-info {
  font-size: 20px;
}

h3.app-info {
  height: 170px;
}

.start {
  width: 90px;
}

.about-text {
  font-size: 20px;
  text-align: center;
}

.opportunities-list {
  display: flex;
  flex-direction: column;
}

.opportunities-item {
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
}

.about-team {
  width: 50%;
}

.team-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-icon {
  font-weight: bold;
  color: green;
}

.about-course {
  padding: 20px 0px;
}

// @media (max-width: 768px) {
//   h3.app-info {
//     height: 190px;
//   }
// }

@media (max-width: 1000px) {

  .welcome-container {
    flex-direction: column;
  }
  
  .info {
    width: 100%;
  }

  h3.app-info {
    height: 170px;
  }

  .start-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .about-project > .welcome-container > div:first-child {
    order: 2;
  }

  .about-project > .welcome-container .info {
    margin-bottom: 25px;
    text-align: center;
  }
  
  .team-img-container {
    margin-top: 20px;
  }

}