 <footer>
  <mat-toolbar color="accent"> 
    
    <div class="container main-footer-container">
      <a class="logo" href="https://rs.school/angular/">
        <img src="../../../../assets/rs-school-logo.svg" alt="RSS Logo">
      </a>
  
      <div class="links">
          <a class="developer-link" href="https://github.com/alepashkou">Alexander Pashkou</a>
          <a class="developer-link" href="https://github.com/ylepner">Julia Lepner</a>
          <a class="developer-link" href="https://github.com/SergeiOsmolovskii">Siarhei Asmalouski</a>
      </div>

      <div class="mobile-links">
        <a class="developer-link developer-link-mobile" href="https://github.com/alepashkou">A</a>
        <a class="developer-link developer-link-mobile" href="https://github.com/ylepner">J</a>
        <a class="developer-link developer-link-mobile" href="https://github.com/SergeiOsmolovskii">S</a>
      </div>
  
      <p class="development-date">2022</p>
    
    </div>
  
  </mat-toolbar>
</footer>