.logo {
  display: block;
  width: 150px;
  &:hover {
    cursor: pointer;
  }
}

.links, .development-date {
  display: flex;
  gap: 40px;
  font-size: 22px;
}

.development-date {
  margin: 0;
}

.developer-link {
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
  &:hover {
    color: red;
  }
}

.developer-link-mobile {

}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mat-toolbar {
  height: 100px;
}

.mobile-links {
  display: none;
  width: 100%;
}

.developer-link-mobile {
  height: 35px;
  width: 35px;
  text-align: center;
  border: 1px solid;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .mobile-links {
    display: flex;
    justify-content: space-around;
  }
}