.logo {
  display: block;
  width: 150px;
  &:hover {
    cursor: pointer;
  }
}

.links, .development-date {
  display: flex;
  gap: 40px;
  font-size: 22px;
}

.developer-link {
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
  &:hover {
    color: red;
  }
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mat-toolbar {
  height: 100px;
}