mat-card {
  max-width: 400px;
  width: 400px;
  margin: auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: calc(100vh - 200px);
}