<pre>
  {{user$ | async | json}}
</pre>

<mat-card>
  <mat-card-content>
    <form>
      <h2>Edit Profile</h2>
      <label for="username" class="text-left">Name</label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Name" name="username" class="border-solid" [ngModel]="(user$ | async)?.name">
      </mat-form-field>
      <label for="login" class="text-left">Login</label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Login" name="login" class="border-solid" [ngModel]="(user$ | async)?.login">
      </mat-form-field>
      <label for="password" class="text-left">Password</label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Password" name="password" class="border-solid">
      </mat-form-field>
      <div class="buttons flex justify-around">
        <button type="submit" mat-raised-button color="primary">Save Changes</button>
        <button mat-raised-button class="bg-[#f92c2cd9]">Delete Account</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>