<div class="control-container">
  <button
    mat-raised-button
    color="primary"
    (click)="openDialog('Create', 'colum', '')"
  >
    Create colum
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-raised-button color="accent">
    Export excel<mat-icon>description</mat-icon>
  </button>
</div>
<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  class="colum-list"
  (cdkDropListDropped)="dropColum($event)"
>
  <div class="div" cdkDropListGroup class="box-list">
    <div *ngFor="let colum of board?.columns" cdkDrag>
      <app-board-colum
        [colum]="colum"
        [boardId]="board.id"
        (deleteColumId)="updateBoard()"
      >
        <div
          cdkDropList
          [cdkDropListData]="colum.tasks"
          class="task-list"
          (cdkDropListDropped)="drop($event)"
        >
          <app-board-task
            class="task-box"
            *ngFor="let task of colum.tasks"
            [boardId]="board.id"
            [columId]="colum.id"
            [task]="task"
            (deleteTaskId)="updateBoard()"
            cdkDrag
          >
          </app-board-task>
        </div>
      </app-board-colum>
    </div>
  </div>
</div>
