<swiper [slidesPerView]="1" [spaceBetween]="50" [navigation]="true" [loop]="true" [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }">
  <ng-template swiperSlide>
    <div class="slide">
      <h3 class="title">Name</h3>
      <div class="slide-img">
        <img src="https://fakeimg.pl/150x200/ff0000/" alt="fake img">
      </div>
      <p class="info">some info some info some info some info some info some info some info some info some info some info </p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="slide">
      <h3 class="title">Name</h3>
      <div class="slide-img">
        <img src="https://fakeimg.pl/150x200/ff0000/" alt="fake img">
      </div>
      <p class="info">some info some info some info some info some info some info some info some info some info some info </p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="slide">
      <h3 class="title">Name</h3>
      <div class="slide-img">
        <img src="https://fakeimg.pl/150x200/ff0000/" alt="fake img">
      </div>
      <p class="info">some info some info some info some info some info some info some info some info some info some info </p>
    </div>

  </ng-template>
</swiper>