<mat-toolbar class="page-header" color="accent">
  <header class="container main-header">

    <div class="setting-block">

      <div class="therm-block">
        <mat-icon *ngIf="currentTheme === 'light'" (click)="changeTheme('dark-mode')">brightness_7</mat-icon>
        <mat-icon *ngIf="currentTheme === 'dark-mode' " (click)="changeTheme('light')">brightness_3</mat-icon>
      </div>

      <div class="language-block">
        <span class="lang">RU</span>
        <mat-slide-toggle [(ngModel)]="isCurrentLanguageChecked" (change)="checkLanguage()" color="primary">
        </mat-slide-toggle>
        <span class="lang">ENG</span>
      </div>

    </div>

    <div class="add-new-board">
      <button class="add-new-board__button" mat-icon-button [routerLink]="'/boards'" [queryParams]="{action: 'Create'}">
        <mat-icon>add</mat-icon>
        <span>{{'header.board' | translate }}</span>
      </button>

      <button class="go-to-boards" mat-icon-button [routerLink]="'/boards'">
        <span>
          {{'board.boards' | translate}}
        </span>
        <mat-icon>developer_board</mat-icon>
      </button>
    </div>

    <div class="user-block">

      <div class="profile-block" *ngIf="chekUserStatus()" title={{activeUserName}} [routerLink]="'/profile'">
        <mat-icon color="primary">person</mat-icon>
      </div>

      <div class="auth-block" *ngIf="!chekUserStatus()">
        <button mat-raised-button color="primary" [routerLink]="'auth/login'">{{'header.signIn' | translate }}</button>
        <button mat-raised-button color="primary" [routerLink]="'auth/signup'">{{'header.signUp' | translate }}</button>
      </div>

      <div class="auth-block" *ngIf="chekUserStatus()">
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
      </div>

    </div>

    <div class="search-block">
      <input matInput aria-label="Task" [matAutocomplete]="auto" [formControl]="searchTextControl" type="text"
        placeholder="search" class="px-3 text-black bg-white">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectTask($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let task of filteredTasks$ | async" [value]="task">
          <span>{{task.title}}</span> |
          <small>{{task.description}}</small> |
          <span>{{task.user.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </div>

  </header>
</mat-toolbar>