<mat-toolbar class="page-header" color="accent">
  <header class="container main-header">

    <div class="setting-block">

      <div class="therm-block">
        <mat-icon *ngIf="currentTheme === 'light'" (click)="changeTheme('dark-mode')">brightness_7</mat-icon>
        <mat-icon *ngIf="currentTheme === 'dark-mode' " (click)="changeTheme('light')">brightness_3</mat-icon>
      </div>

      <div class="language-block">
        <span class="lang">RU</span>
        <mat-slide-toggle [(ngModel)]="isCurrentLanguageChecked" (change)="checkLanguage()" color="primary">
        </mat-slide-toggle>
        <span class="lang">ENG</span>
      </div>

    </div>

    <div class="add-new-board" *ngIf="checkUserStatus()">
      <button class="go-to-boards" mat-icon-button [routerLink]="'/boards'">
        <mat-icon>developer_board</mat-icon>
        <span>
          {{'board.boards' | translate}}
        </span>
      </button>
      <button class="add-new-board__button" mat-icon-button [routerLink]="'/boards'" [queryParams]="{action: 'Create'}">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="user-block">

      <div class="profile-block" *ngIf="checkUserStatus()" title={{activeUserName}} [routerLink]="'/profile'">
        <mat-icon color="primary">person</mat-icon>
      </div>

      <div class="auth-block" *ngIf="!checkUserStatus()">
        <button mat-raised-button color="primary" [routerLink]="'auth/login'">{{'header.signIn' | translate }}</button>
        <button mat-raised-button color="primary" [routerLink]="'auth/signup'">{{'header.signUp' | translate }}</button>
      </div>

      <div class="auth-block" *ngIf="checkUserStatus()">
        <button class="logout-button" mat-raised-button color="primary" (click)="logout()">{{'header.logout' | translate }}</button>
      </div>

    </div>

    <div class="search-block" *ngIf="checkUserStatus()">
      <input aria-label="Task" [matAutocomplete]="auto" [formControl]="searchTextControl" type="text"
        placeholder="{{'header.search' | translate }}" class="px-3 text-black bg-white rounded-lg">
      <mat-autocomplete class="search-list" panelWidth="auto" #auto="matAutocomplete"
        (optionSelected)="onSelectTask($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let task of filteredTasks$ | async" [value]="task">
          <span>{{task.title}}</span> |
          <small>{{task.description}}</small>
          <span> | {{task.user?.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="mobile-menu">
      <button color="primary" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button class="signed-as" mat-menu-item *ngIf="checkUserStatus()" [routerLink]="'/profile'">
            {{'header.signedAs' | translate }}{{activeUserName}}
        </button>

        <button mat-menu-item *ngIf="checkUserStatus()" [routerLink]="'/boards'">
          {{'board.boards' | translate }}
        </button>
        <button mat-menu-item *ngIf="checkUserStatus()" [routerLink]="'/boards'" [queryParams]="{action: 'Create'}">
          {{'board.addBoard' | translate }}
        </button>

        <button mat-menu-item *ngIf="!checkUserStatus()" [routerLink]="'auth/login'">
          <mat-icon>login</mat-icon>
        </button>
        <button mat-menu-item *ngIf="!checkUserStatus()" [routerLink]="'auth/signup'">
          {{'header.signUp' | translate }}
        </button>

        <button mat-menu-item *ngIf="checkUserStatus()" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-menu>
    </div>

  </header>
</mat-toolbar>