@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$gray-palette, 100, 400, 900);
$angular-accent: mat.define-palette(mat.$blue-palette);

$angular-primary-dark: mat.define-palette(mat.$indigo-palette, 100, 400, 900);
$angular-accent-dark: mat.define-palette(mat.$pink-palette);


$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

 $angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary-dark,
      accent: $angular-accent-dark,
      warn: $angular-warn,
    ),
  )
);

.light-mode {
  & .mat-card {
    background: #f2f8f9 !important;
  }
  @include mat.all-component-colors($angular-dark-theme);
}

.dark-mode {
  & .mat-card {
    background: #f2f8f9 !important;
    color: #000000 !important;
  }
  & .mat-card-subtitle {
    color: #000000 !important;
  }
  & .mat-form-field-label {
    color: #000000 !important;
  }
  & .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #f44336 !important;
  }
  & .mat-button-disabled {
    background: #c5cae9 !important;
  }
  .board-card:hover {
    box-shadow: 0px 4px 8px rgb(255 255 255 / 45%) !important;
  }
  @include mat.all-component-colors($angular-dark-theme);
}
