.main-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - 200px);
}

.error-container {
  text-align: center;
}

.image-block {
  margin-bottom: 50px;
}

.error-text {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 45px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.back {
  position: absolute !important;
  top: 15% !important;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  pointer-events: all!important;
}

.back-button {
  width: 110px;
}

@media (max-width: 910px) { 

  .error-text {
    font-size: 30px;
  }

  .dark-mode .error-text {
    color: #000;
  }

}

@media (max-width: 600px) { 

  .error-text {
    transform: none;
    position: initial;
  }

}