:host {
  min-width: 300px;
  margin: 0px 15px 20px 15px;
  display: inline-block;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}
.task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.colum-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-icon {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }
}
